
body {
  background-color: #042029;
  color: #839496;
}

span.line:hover {
  background-color: #0f3d4c;
}

.tag {
  color: #268bd2;
}

.symbols {
  color: #586e75;
}

.eq_symbol {
  
}

.attr {

}

.value {
  color: #269186;
}