
body {
  margin: 0px;
}

div {
  margin: 0px 8px 0px 8px;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 13px;
}

div:not(.anchor) {
  float: left;
}

.anchor {
  margin: 0px;
  display: inline;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

span.line {
  display: block;
  white-space: pre;
}

span.line:hover {
  opacity: 0.8;
}

a {
  text-decoration: none;
}

.tag {
  font-weight: 600;
}

#editor {
  left: 35px;
  position: absolute;
}

#line_numbers {
  display: inline-block;
  margin-top: 0px;
  width: 25px;
  text-align: right;
}

.line_number {
  color: #838891;
  padding-right: 10px;
  text-align: right;
}
