
body {
  margin: 0px;
}

div {
  margin: 8px;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 13px;
}

.anchor {
  margin: 0px;
  display: inline;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

span.line {
  display: block;
  white-space: pre;
}

span.line:hover {
  opacity: 0.8;
}

a {
  text-decoration: none;
}

.tag {
  font-weight: 600;
}
